apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "machine-deletion-remediation.medik8s.io/v1alpha1",
          "kind": "MachineDeletionRemediation",
          "metadata": {
            "name": "machinedeletionremediation-sample"
          },
          "spec": null
        },
        {
          "apiVersion": "machine-deletion-remediation.medik8s.io/v1alpha1",
          "kind": "MachineDeletionRemediationTemplate",
          "metadata": {
            "name": "machinedeletionremediationtemplate-sample"
          },
          "spec": {
            "template": {
              "spec": {}
            }
          }
        }
      ]
    capabilities: Basic Install
    categories: OpenShift Optional
    containerImage: ""
    createdAt: ""
    description: Machine Deletion Remediation operator for reprovisioning unhealthy
      nodes using the Machine API.
    operators.operatorframework.io/builder: operator-sdk-v1.25.1
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v3
    repository: https://github.com/medik8s/machine-deletion-remediation
    support: Medik8s
  name: machine-deletion-remediation.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: MachineDeletionRemediation is the Schema for the machinedeletionremediations
        API
      displayName: Machine Deletion Remediation
      kind: MachineDeletionRemediation
      name: machinedeletionremediations.machine-deletion-remediation.medik8s.io
      version: v1alpha1
    - description: MachineDeletionRemediationTemplate is the Schema for the machinedeletionremediationtemplates
        API
      displayName: Machine Deletion Remediation Template
      kind: MachineDeletionRemediationTemplate
      name: machinedeletionremediationtemplates.machine-deletion-remediation.medik8s.io
      version: v1alpha1
  description: This operator follows the annotation on the Node to the associated
    Machine object, confirms that it has an owning controller (e.g. MachineSetController),
    that will recreate the Machine once deleted, and then proceeds with the deletion
    of the Machine.
  displayName: Machine Deletion Remediation operator
  icon:
  - base64data: ""
    mediatype: ""
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - nodes
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - machine-deletion-remediation.medik8s.io
          resources:
          - machinedeletionremediations
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - machine-deletion-remediation.medik8s.io
          resources:
          - machinedeletionremediations/finalizers
          verbs:
          - update
        - apiGroups:
          - machine-deletion-remediation.medik8s.io
          resources:
          - machinedeletionremediations/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - machine.openshift.io
          resources:
          - machines
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: machine-deletion-remediation-controller-manager
      deployments:
      - label:
          control-plane: controller-manager
        name: machine-deletion-remediation-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: controller-manager
            spec:
              containers:
              - args:
                - --secure-listen-address=0.0.0.0:8443
                - --upstream=http://127.0.0.1:8080/
                - --logtostderr=true
                - --v=10
                image: gcr.io/kubebuilder/kube-rbac-proxy:v0.8.0
                name: kube-rbac-proxy
                ports:
                - containerPort: 8443
                  name: https
                resources: {}
              - args:
                - --health-probe-bind-address=:8081
                - --metrics-bind-address=127.0.0.1:8080
                - --leader-elect
                command:
                - /manager
                image: quay.io/medik8s/machine-deletion-remediation-operator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: manager
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 100m
                    memory: 30Mi
                  requests:
                    cpu: 100m
                    memory: 20Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: machine-deletion-remediation-controller-manager
              terminationGracePeriodSeconds: 10
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: machine-deletion-remediation-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - medik8s
  - machine
  - deletion
  - remediation
  - mdr
  links:
  - name: Machine Deletion Remediation
    url: https://machine-deletion-remediation.domain
  maintainers:
  - email: medik8s@googlegroups.com
    name: Medik8s Team
  maturity: alpha
  provider:
    name: Medik8s
    url: https://github.com/medik8s
  version: 0.0.1
